.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.slider{
height: 100%;

}
.map{
  height: 100%;
  width: 100%;
}
.picture{
  width:90%;
  object-fit:scale-down;
  //height: auto;
  height: 50%;
  margin:auto;
  //max-height: 50%;
}
.grid{
  height:100%;
  margin:5vh;
}

.textInput{
  width:100%;
}