<ion-header>
  <ion-toolbar>
    <ion-button *ngIf="resourcePath" slot="start" fill="clear" (click)="resourcePath=null">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      <ion-label>Volver</ion-label>
    </ion-button>

    <ion-title>
      Aprender
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="resourcePath">
    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(resourcePath)"></iframe>
  </ng-container>
  <ng-container *ngIf="!resourcePath">
    <ion-list>
      <ion-item (click)="resourcePath='assets/learn/infogeneral-texto.html'">
        <ion-label>Información sobre las vinchucas</ion-label>
      </ion-item>
      <ion-item (click)="resourcePath='assets/learn/chagas-texto.html'">
        <ion-label>La enfermedad de Chagas</ion-label>
      </ion-item>
      <ion-item (click)="resourcePath='assets/learn/recomendaciones.html'">
        <ion-label>Recomendaciones y contactos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cómo sacar mejores fotos</ion-label>
      </ion-item>
      <ion-item onclick= "window.open('http://www.geovin.com.ar', '_system', 'location=yes'); return false;">
        <ion-label>Másinformación Online</ion-label>
      </ion-item>
    </ion-list>

  </ng-container>
</ion-content>